body {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  height: 100vh; /* Ensure body takes the full height of the viewport */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 25vh;
  background-color: #0e0e0e;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: 800;
}

a {
  font-size: 1rem;
  color: whitesmoke;
  font-weight: 700;
  text-decoration: none;
}

.search-wrapper {
  /* height: 10vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#search-button,
.search-input {
  padding: 0.5em 1em;
}

.search-input {
  width: 40vw;
}

#no-data-img {
  min-width: 200px;
  max-width: 400px;
  display: block;
  margin: 20% auto;
}

.movie-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Adds a scrollbar if content exceeds max height */
  margin: 30px;
}

.movie {
  display: flex;
  align-items: start;
}

.movie-info {
  display: flex;
  flex-direction: column;
  padding: 10px; /* Add padding to separate text from edges */
}

.movie-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.movie-title-line {
  display: flex;
  justify-content: start;
  margin: 0 1rem;
  line-height: 1.5;
  overflow-wrap: break-word; /* Allows breaking long words */
  flex-wrap: wrap; /* Ensures content wraps into next line if needed */
}

i {
  font-size: 20px;
  cursor: pointer;
}

.line-item {
  margin-right: 2rem;
}
