body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 25vh;
  background-color: #0e0e0e;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 2.5rem;
  color: whitesmoke;
  font-weight: 800;
}

a {
  font-size: 1rem;
  color: whitesmoke;
  font-weight: 700;
  text-decoration: none;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#search-button,
.search-input {
  padding: 0.5em 1em;
}
.search-input {
  width: 40vw;
}

main {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
#no-data-img {
  min-width: 250px;
  max-width: 100%;
}

.movie-list {
  display: flex;
  flex-direction: column;
}

.movie {
  display: flex;
  align-items: start;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.movie-title-line {
  display: flex;
  justify-content: start;
  margin: 0 1rem;
  line-height: 1.5;
}

i {
  font-size: 20px;
  cursor: pointer;
}

.line-item {
  margin-right: 2rem;
}
